.homec-filter-group .homec-btn{
    color: #ffffff;
}
.homec-header__menu .nav-menu li a:hover, .homec-header__menu .nav-menu li.active a, #offcanvas-menu li a:hover, #offcanvas-menu li.active a {
    color: #d8232a;
}
.homec-header .navigation li .sub-menu li a:hover{
    color: #d8232a!important;
}
.homec-header .navigation li .sub-menu{
    border-top: 3px solid #d8232a;
}
.homec-header .homec-btn{
        height: auto;
    line-height: normal;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
}
.homec-header a.homec-header__icon{
     height: auto;
    line-height: normal;
    padding: 3px 20px;
    width: auto;
}
.homec-header a.homec-header__icon svg {
        max-width: 16px;
}
.homec-header a.homec-header__icon span{
    padding-left: 10px;
}
.homec-header .homec-header__menu .nav-menu li a{
    font-size: 16px;
    font-weight: 400;
}
.homec-header__inside{
    padding: 15px 20px;
}
.homec-hero__tabs {
    margin-bottom: 20px;
}
#homec-tabs.homec-tabs--noborder a{
    border-bottom: 1px solid #ffffff;
}
#homec-tabs a{
    border-radius: 5px;
}
#homec-tabs a:hover, #homec-tabs a.active, input[type="checkbox"]:checked, .price-filter .ui-slider-range, .pd-features__single:hover, .homec-comments-form, .homec-features__single:hover, .homec-iconic-list li i, .homec-section-bottom-shape, .swiper-pagination span::before{
     border-bottom: 1px solid #d8232a; 
}
.homec-btn svg path{
    fill: #ffffff;
}
.homec-filter-group .form-group .select2-container--default .select2-selection--single span.select2-selection__arrow{
        position: initial;
}

.homec-filter-group .form-group, .homec-filter-group .homec-btn{
    height: auto;
}
.homec-filter-group .form-group{
    background: transparent;
    border: none;
    border-radius: 0px;
    border-right: 1px solid #cac9c9;
    flex-direction: initial;
    align-items: center;
    padding: 5px 15px;
    min-width: 190px;
}
.homec-filter-group .form-group i{
    color: #d8232a;
    position: relative;
    left: -8px;
}

.homec-filter-group .homec-btn{
    line-height: normal;
    padding: 7px 30px;
    font-size: 16px;
    border-radius: 30px;
    width: auto;
    min-width: auto;
    font-weight: 400;
    background: #d8232a!important;
}
.homec-filter-group .homec-btn svg{
    width: 15px;
    height: 15px;
}
.homec-filter-group .form-group .select2-container--default .select2-selection--single span{
        font-size: 14px !important;
    font-weight: 400;
}

.homec-filters{
    border-radius: 50px;
}
.homec-hero__tabs--detail{
    width: 100%;
}
.homec-filter-group{
    justify-content: space-between;
}
.homec-features__icon img {
    max-width: 60px;
}
.homec-features__icon{
    min-width: 120px;
    min-height: 120px;
    line-height: 120px;
}
.homec-features__title {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
.homec-features__v2 {
    top: 0px;
}
.homec-section__title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}
.homec-section__badge--small {
    font-size: 16px;
    font-weight: 400;
}
.homec-btn{
    height: 50px;
    line-height: 50px;
}
.homec-property__title a {
    font-size: 17px;
    font-weight: 400;
}
.homec-property__price {
    font-size: 17px;
    font-weight: 600;
}
.homec-property__price span{
    font-size: 15px;
}
.homec-bg-third-color .homec-second-color{
    color: #ffffff;
}
.homec-agent__title{
    font-size: 16px;
    font-weight: 500;
}
.homec-listing__inner:hover .homec-listing__title{
    color: #ffffff!important;
}
.homec-listing__title{
    font-size: 20px;
    font-weight: 500;
}
.homec-listing__title span{
    font-size: 16px;
}
.ecom-wc__button .homec-btn{
    color: #ffffff;
}
.ecom-wc__button .homec-btn:hover{
    color: #d8232a!important;
}
.homec-blog__title a {
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 28px;
}
.homec-blog__meta li{
    font-size: 14px;
}
.homec-blog__btn{
     font-weight: 500;
    color: #d8232a;
    font-size: 16px;
}
.homec-blog__meta li svg {
    fill: #d8232a;
}
/*.homec-property__head{
    position: initial;
}*/
/*.homec-property__title a{
    position: initial;
}
.homec-property__body{
   position: initial; 
}

.homec-property__title a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

}*/
.breadcrumb__menu li a{
    color: #ffffff!important;
}
.breadcrumb__menu li::after{
    color: #ffffff!important;
}
.homec-list-tabs.homec-list-tabs--v3 .list-group-item{
    font-size: 14px;
    padding: 12px 20px;
}
.homec-dashboard__label{
    font-size: 18px;
}
.homec-dashboard__single{
    background: transparent;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
}
.homec-dashboard__single .homec-dashboard__icon {
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
}
.homec-btn.homec-btn__second{
    color: #ffffff!important;
    font-size: 16px;
}
.homec-list-tabs.homec-list-tabs--v3{
background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
}
.homec-list-tabs.homec-list-tabs--v3 .list-group-item.active{
        background: #d8232a !important;
    color: #ffffff !important;
}
.homec-list-tabs.homec-list-tabs--v3 .list-group-item.active .homec-dashboard__list--icon {
    background: #ffffff!important;
}
.homec-list-tabs.homec-list-tabs--v3 .list-group-item.active svg {
    fill: #d8232a!important;
}
.ecom-wc__logo img {
    max-width: 150px;
}
.homec-slider-agent .homec-agent__title a{
    display: inline-block!important;
}

.homec-accordion .homec-accordion__heading{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
}
.homec-faq-bg .homec-section__title{
    font-size: 22px;
}
.accordion-body.homec-accordion__body {
    line-height: 25px;
    font-size: 14px;
}
.homec-support-img__content img {
    width: 50px;
    border-radius: 0;
}
.homec-support-img__title{
    font-size: 25px;
    font-weight: 500;
}
.homec-support-img__title span{
    font-size: 15px;
}
.footer-area p {
    font-size: 14px;
    line-height: 25px;
}
.footer-top-inner .widget-title{
        font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer-top-inner .single-widget li {
        font-size: 15px;
    line-height: 20px;
}

.hoemc-showing-results__text {
    font-size: 14px;
}
.homec-form__form.homec-form__form--bar button
{
    min-width: 130px;
    font-size: 16px;
}
.homec-form__form.homec-form__form--bar{
    max-width: 450px;
    width: 450px;
    height: 50px;
}
.select2-container .select2-selection--single {
    min-height: 45px;
}
.property-sidebar__title {
    font-size: 15px;
}
.homec-property__title {
    margin-bottom: 10px;
}
.homec-property__text p {
    font-size: 14px;
    line-height: 22px;
}
.homec-property__text{
    gap: 10px;
}

.agent_agency_btn .nav-link {
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #d8232a;
    color: #d8232a;
}
.agent_agency_btn .nav-link.active{
    background-color: #d8232a;
}
.homec-agent__title a{
    position: initial;
}
.homec-agent__title a:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}
.homec-header{
    position: initial;
    transition: none;
}
.homec-header.is-sticky{
    position: fixed;
    top: 0;
    background-color: #ffffff;

}

  #hero {
    position: relative;
    overflow: hidden;
    height: 100vh;           /* or whatever height you need */
  }

  /* background video */
  #hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;       /* scale & crop to fill */
    z-index: 1;
  }

  /* optional dark overlay */
  #hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 2;
  }

  /* your content wrapper sits above video & overlay */
  #hero .homec-hero__inner {
    position: relative;
    z-index: 3;
    min-height: auto;
  }
  .homec-hero{
    min-height: auto;
  }

.homec-hero__inner {
    padding-top: 150px;
    padding-bottom: 150px;
}
.property-explore-wrap{
    padding: 50px 20px 50px 20px;
    background-color: #dff6f9;
    border-radius: 8px;
    background-clip: padding-box;
}
.property-explore-wrap h4{
    font-size: 22px;
    font-weight: 600;
}
.property-explore-wrap p{
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

/*.home-property-circle-wrapper .homec-property__head{
    display: flex;
    justify-content: space-between;
}*/
.home-property-circle-wrapper .property-img-wrap{
   width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 12px;
    z-index: 9;
    left: 20px;
}
.home-property-circle-wrapper .property-img-wrap img{
/*    min-width: 100%;*/
    min-height: 100%;
    width: 100%;
}
.home-property-circle-wrapper .homec-property__head .homec-property__text img{
    width: auto;
    height: auto;
    min-height: auto;
}
.home-property-circle-wrapper .homec-property__list{
        background: #f5f4ff;
    margin-top: 35px;
    border-radius: 5px;
    padding: 50px 8px 10px;
    border: none;
}
.home-property-circle-wrapper .homec-property__body{
    position: relative;
}


.home-property-circle-wrapper .homec-property{
    background-color: transparent;
    border: 1px solid #dddddd;
}
.homec-bg-third-color {
    background-color: #ffffff!important;
}
.homec-properties .swiper-pagination{
    margin-top: 30px!important;
}

.homec-features__v2
{
    margin-bottom: 0px;
}

.swiper-pagination span{
    width: 15px;
    height: 15px;
}
.homec-top-slider-property .homec-property{
background: transparent;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border-radius: 8px;
    padding: 0;
    border: 1px solid #dddddd;
}
.homec-properties .homec-property__head img {
    height: auto;
    min-height: auto;
    width: 100%;
    border-radius: 0px !important;
}
.homec-properties .homec-property__list li{
    font-size: 13px;
}
.homec-properties .homec-property__list li img {
    max-width: 15px;
}

.homec-properties .homec-property__body {
    padding: 20px 12px 8px;
}

.home-property-circle-wrapper .homec-property__body {
    padding: 20px 8px 8px;
}

.home-cta-banner-wrap{
    padding: 25px 32px 25px 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    background-color: #fff8e2;
    border-radius: 8px;
    background-clip: padding-box;
}
.home-cta-banner-wrap h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.home-cta-banner-wrap p{
    color: #222222;
    font-weight: 400;
    font-size: 16px;
}
.without-back-btn a.homec-btn{
    background: transparent!important;
    color: #d8232a;
    align-items: center;
    font-size: 14px;
}
.without-back-btn a.homec-btn:hover{
    background: transparent!important;
    box-shadow: none!important;
}

.property-tools-wrapper .homec-features__single{
      background: transparent;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    padding: 30px 25px!important;
    justify-content: start;
    text-align: left;
    align-items: start;
}

.property-tools-wrapper .homec-features__single .homec-features__icon {
    min-width: auto;
    min-height: auto;
    line-height: normal;
    background: transparent;
    justify-content: start;
    align-items: start;
}
.property-tools-wrapper .homec-features__single:hover{
    background-color: transparent!important;
}
.property-tools-wrapper .homec-features__single:hover .homec-features__title{
    color: #222222;
} 
.property-tools-wrapper .homec-features__single:hover .homec-features__text{
    color: #7E8BA0;
}

.property-tools-wrapper .homec-features__content .view-now-btn{
    color: #d8232a;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.property-tools-wrapper .homec-features__content .view-now-btn i{
    color: #d8232a;
    font-size: 14px;
    padding-left: 10px;
}
.property-tools-wrapper .homec-features__text{
       margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
}
.property-tools-wrapper .homec-features__icon img {
    max-width: 50px;
}
.homec-header__inside{
    background: transparent!important;
}
.homec-overlay.homec-blog__overlay{
    background: transparent!important;
}
.search-tabs-wrap ul.nav{
border-bottom: 1px solid #dddddd;
}

.search-tabs-wrap ul li button.nav-link{
    font-size: 18px;
    color: #7e8ba0;
}

.search-tabs-wrap ul li .nav-link.active{
    background-color: transparent;
    border-bottom: 4px solid #d8232a;
    transition: width 0.3s ease-in-out 0s;
    border-radius: 0px;
    color: #000000;
    font-weight: 600;
}

.search-content-wrap h4{
color: #303030;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
}
.search-content-wrap ul{
   padding-left: 0px; 
}
.search-content-wrap ul li{
    list-style-type: none;
    
}
.search-content-wrap ul li a{
    max-width: 100%;
    display: inline-block;
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.breadcrumbs__content{
    padding-top: 0px!important;
}
.offcanvas-toggler .line {
    background: #d8232a;
}
.offcanvas-toggler{
    background: transparent;
    box-shadow: none;
}
.homec-blog{
    margin-top: 0px;
    margin-bottom: 20px;
}
.homec-header a.homec-header__icon{
    background: transparent;
}
.homec-property.homec-property__list-style .homec-property__head img {
    width: 100%;
    height: auto;
    min-height: auto;
    max-width: 330px;
}
.homec-property-bar{
        border: none;
    box-shadow: none;
    padding: 0px;
    background: transparent!important;
  
}
.homec-property-bar .homec-form__form{
    background: #ffffff;
    border-radius: 50px;
    height: auto;
    border: 1px solid #dddddd;
}
.homec-property-bar .homec-form__form.homec-form__form--bar button{
    border-radius: 50px;
}
.property-sidebar__single input[type="checkbox"]{
    background: transparent;
    border: 1px solid #dddddd;
}
.homec-property.homec-property__list-style{
 box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
}
.property-sidebar{
   box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06); 
}
.breadcrumbs__content{
    height: 350px;
    position: relative;
}
.breadcrumbs__content:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
.homec-section__badge.homec-section__badge--shape{
    padding: 0px!important;
    background-size: initial;
    background-position: initial;
    background-repeat: initial;
    background-image: none;
}
.counter-sec-wrapper .homec-funfact__single{
    background: transparent;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
}
.counter-sec-wrapper .homec-funfact__single:hover {
    background-color: #d8232a;
}

.contact-side-pic img{
    border-radius: 5px;
}
.homec-contact-form .homec-property-ag{
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.homec-contact-form .homec-property-ag__title {
    color: #222222;
}

.homec-contact-form .homec-property-ag__form input{
    border: 1px solid #dddddd;
    color: #222222!important;
    height: 45px;
    font-size: 14px;
}

.homec-contact-form .homec-property-ag__form textarea{
    border: 1px solid #dddddd;
    color: #222222!important;
    font-size: 14px;
}



.homec-contact-form .homec-property-ag__form input::placeholder {
    color: #222222 !important;
}

.homec-contact-form .homec-property-ag__form input::-ms-input-placeholder {
    color: #222222 !important;
}

.homec-contact-form .homec-property-ag__form textarea::placeholder {
    color: #222222 !important;
}

.homec-contact-form .homec-property-ag__form textarea::-ms-input-placeholder {
    color: #222222 !important;
}
.contact-info-wrapper .homec-contact__single{
background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px 15px;
}
.contact-info-wrapper .homec-contact__icon
{
height: 55px;
width: 55px;
background: #d8232a;
}
.contact-info-wrapper .homec-contact__icon svg {
    fill: #ffffff;
    height: 25px;
    width: 25px;
}
.contact-info-wrapper .homec-contact__label {
    color: #222222;
    font-weight: 600;
}
.contact-info-wrapper .homec-contact__title{
    font-size: 15px;
    font-weight: 400;
}
.footer-area ul li a:hover {
    color: #ffffff;
}
.homec-header a.homec-header__icon:hover{
    background: #d8232a;
}
.homec-btn.homec-btn__second:hover{
    color: #d8232a!important;
    border-color: #d8232a!important;
}
.pd-features__single{
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;
}
.pd-features__title {
    font-size: 16px;
    font-weight: 500;
}
.pd-features__text
{
    font-size: 15px;
}

.homec-list-tabs.homec-list-tabs--v2 a{
    font-size: 16px;
}
.homec-pdetails-tab__inner p{
   font-size: 14px;
   margin-bottom: 20px;
}
.homec-property-ag--side{
     background-color: #ffffff!important;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;
}
 .homec-property-ag__title
{
color: #222222;
}
 .homec-property-ag__author--title{
    font-size: 16px;
    color: #222222;
}
.homec-property-ag__author {
    border-bottom: none;
    padding-bottom: 0px;
}
.homec-property-ag__form input, .homec-property-ag__form textarea{
    border: 1px solid #dddddd!important;
    font-size: 14px!important;
}
.homec-property-ag__form input:hover, .homec-property-ag__form textarea:hover{
    border-color: #dddddd!important;
    color: #222222!important;
}

.homec-property-ag__form input{
    color: #222222!important;
}
.homec-property-ag__form textarea{
   color: #222222!important; 
}
.homec-property-ag__form input::placeholder {
    color: #222222 !important;
    opacity: 1 !important;
    font-size: 14px!important;
}

.homec-property-ag__form input::-ms-input-placeholder {
    color: #222222 !important;
    opacity: 1 !important;
    font-size: 14px!important;
}

.homec-property-ag__form textarea::placeholder {
    color: #222222 !important;
    opacity: 1 !important;
    font-size: 14px!important;
}

.homec-property-ag__form textarea::-ms-input-placeholder {
    color: #222222 !important;
    opacity: 1 !important;
    font-size: 14px!important;
}
.calculate-box{
        background-color: #ffffff!important;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd; 
}
.calculate-box .calculate-box-text h4{
    color: #222222;
}
.calculate-box .calculate-box-text p{
    color: #222222;
}
.calculate-box-lone-amount label{
    color: #222222;
}
.calculate-box-lone-amount-text-one p{
    color: #222222;
}
.calculate-box-lone-amount-two .calculate-box-lone-amount-text #amt{
    border: none;
    background: transparent;
    color: #222222!important;
}
.calculate-box-lone-amount-two .calculate-box-lone-amount-text .year{
    border: none;
    background: transparent;
    color: #222222!important;
}
.calculate-box-lone-amount .form-control{
    border: 1px solid #dddddd;
    height: 40px;

}
.calculate-payment .calculate-payment-left h5{
    color: #222222;
}
.calculate-payment
{
    margin-top: 0px;
}
.homec-btn.homec-btn__second.homc-white-bg-button{
    background-color: #222222;
}
.homec-btn.homec-btn__second.homc-white-bg-button:hover{
    background-color: transparent!important;
}
.homec-btn.homec-btn__second.homc-white-bg-button:hover:before{
    background-color: #ffffff;
}
.homec-amount-card.homec-amount-card__sticky {
    background: #ffffff!important;
    padding: 10px 25px!important;
}
.homec-amount-card__amount{
    font-size: 20px!important;
}
.homec-ptdetails-features__list li b{
        font-size: 14px;
}
.calculate-box-lone-amount .form-control{
     color: #222222!important;
}
.calculate-box-lone-amount .form-control:hover
{
    border: 1px solid #dddddd!important;
    color: #222222!important;
}
.calculate-payment .calculate-payment-right h2 {
    font-size: 22px;
    font-weight: 500;
    color: #d8232a;
}
.homec-property-ag{
      background-color: #ffffff!important;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;  
}
.homec-agent-detail__inside{
     background-color: #ffffff!important;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;   
}
.homec-agent-detail__inside .homec-agent-detail__sticky--text{
    color: #222222;
    font-size: 14px;
}
.homec-btn.homec-btn__second:hover .homec-btn__inside svg path{
    fill: #d8232a !important;
}
.homec-add-property{
     background-color: #ffffff!important;
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd; 
}
.homec-add-property .homec-add-property__img {
    width: 150px;
    height: 150px;
}
.homec-add-property .homec-add-property__img img {
    max-width: 90px;
}
.download-app{
    display: none;
}
.homec-submit-form__title{
    padding: 12px 30px;
    background: #d8232a;
}
.homec-submit-form .homec-form-input input{
    border: 1px solid #dddddd;
    background: #fafafa;
}
.homec-submit-form .homec-form-input select{
    border: 1px solid #dddddd;
    background: #fafafa;
}
.homec-submit-form .homec-form-input textarea{
    border: 1px solid #dddddd;
    background: #fafafa; 
}
.homec-submit-form .homec-image-video-upload
{
border: 1px solid #dddddd;
    background: #fafafa; 
}
.homec-submit-form .form-group.homec-form-input .select2-container .select2-selection--single{
border: 1px solid #dddddd;
    background: #fafafa; 
}
.homec-submit-form  input[type="checkbox"]{
  background: #dddddd;   
}

.homec-dashboard-property{
    box-shadow: 0px 0px 15px rgba(20, 0, 255, 0.06);
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 12px;
    border-radius: 8px;
}

.homec-dashboard-property__buttons .homec-dashboard-property__btn{
    background: #eeeeee;
}

.homec-dashboard-property__title{
    font-size: 17px;
    font-weight: 400;
}

.property-bar-sticky{
  /* position: sticky;
    top: 85px;
    z-index: 999;*/
    background: rgb(243 243 244);
    padding: 15px;
    border-bottom: 1px solid #dddddd;

}

#homec-tabs.homec-gl-tabs a{
    background: #ffffff;
}
.tabs-full-wrapper{
    position: sticky;
    top: 85px;
    z-index: 999;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    padding: 15px 0px 0px;
}
.tabs-full-wrapper .homec-list-tabs.homec-list-tabs--v2{
    border: none;
}
.property-tabs-content-wrap .homec-pdetails-tab__inner{
 margin-top: 0px;
}

.property-tabs-content-wrap .fade:not(.show) {
    opacity: 1;
}
.property-tabs-content-wrap .tab-pane{
    margin-bottom: 45px;
}
.property-tabs-content-wrap .tab-pane h4{
    font-size: 20px;
    font-weight: 500;
}


.homec-location-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 15px 20px;
    min-height: 210px;
}
.homec-location-card__icon{
    background: #f3f3f3;
    width: 60px;
    height: 60px;
}
.homec-location-card__icon svg{
    width: 25px;
    height: 25px;
}
.homec-testimonial.homec-testimonial--review .homec-testimonial__text {
    font-size: 16px;
}
.homec-ptdetails-features .homec-ptdetails-features__list li img{
    width: 35px;
}




@media(max-width: 1199px){
    .homec-filter-group{
        flex-wrap: nowrap;
    }
    .homec-filter-group .form-group{
    padding: 5px 8px;
    min-width: 140px;
    }
    .home-property-circle-wrapper .homec-property{
        margin: 8px;
    }
    .homec-hero__inner {
    padding-top: 100px;
    padding-bottom: 100px;
}
.homec-hero{
    height: auto!important;
}
.pd-top-90{
    padding-top: 50px!important;
}
.pd-btm-90 {
    padding-bottom: 50px!important;
}
.pd-btm-80 {
  padding-bottom: 50px!important;
}
.pd-top-60 {
  padding-top: 50px!important;
}
.pd-top-80 {
  padding-top: 50px!important;
}
.pd-top-70 {
   padding-top: 50px!important;
}
.pd-btm-70 {
  padding-bottom: 50px!important;
}
.homec-property-bar .homec-form__form {
    width: 100%;
    max-width: 100%;
}
}

@media(max-width : 767px){
    .homec-hero__content{
        max-width: 100%;
    }
    .homec-tabs.homec-tabs--noborder a{
        padding: 8px 30px !important;
    }
    .home-cta-banner-wrap{
        display: inline-block;
    }
    .cta-post-btn{
        margin-top: 15px;
    }
    .homec-filter-group{
        display: block;
    }
    .homec-filter-group .form-group{
        border-right: none;
    }
    .homec-filter-group .homec-btn{
        height: auto !important;
        line-height: initial !important;
        margin-top: 15px!important;
    }
    .homec-filters {
    border-radius: 10px;
}
.homec-filter-group .form-group{
    padding: 12px 8px!important;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}
.homec-section__title{
    font-size: 20px!important;
}
.homec-section__badge--small {
    font-size: 14px!important;
}
.home-property-circle-wrapper .homec-property{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.homec-flex.homec-flex__section {
        flex-direction: initial!important;
    }
.home-top-property-wrapper .homec-section__head.mg-top-30{
    margin-top: 0px!important;
}
.home-top-property-wrapper .homec-section__btn.mg-top-30{
margin-top: 0px!important;
}
.breadcrumbs__content {
    height: 200px;
    min-height: 200px;
}
.breadcrumb__menu li a{
    font-size: 14px;
}
.breadcrumbs__content .breadcrumb__title {
        font-size: 20px;
    }
    .scrollToTop {
        right: -15px;
        bottom: 78px;
    }
    .contact-side-pic{
        margin-top: 30px;
    }
    .homec-contact-form{
        padding-bottom: 0px!important;
    }
.footer-top-inner.pd-btm-100{
    padding-bottom: 40px!important;
}
.homec-property-bar .homec-form__form{
    flex-direction: row;
    padding: 6px 10px;
}
.homec-property-bar{
    padding: 8px 7px!important;
}
.pd-top-100{
    padding-top: 50px!important;
}
.homec-property-slides{
    padding-bottom: 50px!important;
}
.homec-property-slides .homec-property-thumbs{
    bottom: -60px!important;
}
.homec-image-gallery__content{
    max-width: 100%!important;
    margin-left: 20px!important;
}
.homec-image-gallery__bottom {
    top: 70px!important;
}
.agent_agency_btn.homec-property-bar .homec-property-bar__single:first-child{
  display: none;
}
.agent-parent-main-wrapper.pd-top-40{
    padding-top: 0px!important;
}
.homec-agent-detail{
    padding: 15px;
}
.homec-agent-detail__inside
{
    padding: 15px;
}
.copyright-text{
    font-size: 13px;
}
    .homec-dashboard__middle{
        padding: 0px 0px 30px;
    }
    .homec-dashboard.pd-top-50{
        padding-top: 10px!important;
    }
    .homec-dashboard.pd-top-100{
padding-top: 10px!important;
    }
    .homec-error.pd-top-60{
padding-top: 10px!important;
    }
    .blog-single.pd-top-70{
        padding-top: 10px!important;
    }
    .blog-single.pd-btm-100{
        padding-bottom: 20px!important;
    }

.property-bar-sticky .container{
    padding: 0px!important;
}
.tabs-full-wrapper {
    position: initial;
    top: 0px;
    z-index: 9;
    background: transparent;
    border-bottom: none;
    padding: 0px;
}

.property-tabs-content-wrap .tab-pane {
    margin-bottom: 30px;
}
.homec-property-ag--side{
    margin-top: 0px!important;
}
}


@media only screen and (min-width: 1000px) and (max-width: 10000px) {
    #active-sticky.is-sticky .homec-header__icon {
        width: auto;
        height: 40px;
    }
    #active-sticky.is-sticky .homec-btn{
        height: 40px;
        line-height: 40px;
    }
    #active-sticky.is-sticky .homec-header__inside {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #active-sticky.is-sticky .homec-header__middle{
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.06); 
    }
}


